body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: 
      "h h h h h h"
      "s m m m m m"
      "s m m m m m"
      "s m m m m m"
      "s m m m m m"
      "s m m m m m";
}

.header {
  grid-area: h;
}

.side-bar {
  grid-area: s;
}

.image-list {
  grid-area: m;
}

.post-form {
  grid-area: m;
}
